{% extends 'base.html' %}
{% block title %} {{ post.title }} - TextsMate{% endblock %}
{% block twittertitle %} {{ post.title }} - TextsMate {% endblock %}

{%  block body %} 
<div class="article-info">
    <h1 class="article-header">{{post.title}}</h1>
    <p class="created">{{post.time}}</p>
</div>
<div class="inner" style="min-height: 300px;">
    <div class="article">
        {{ post.body }}
    </div>

{% if config['DEBUG'] %}  
{% else %}
<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://textsmate.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
{% endblock %}

{% block cssextends %}
{% if config['DEBUG'] %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
{% else %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/textsmate@latest/theme.css">
{% endif %}
{% endblock %}

{% block jsextends%}
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/plugins/autoloader/prism-autoloader.min.js"></script>
{% endblock %}